.product-card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 0.2px 0.5px lightgrey;
    transition: all 0.3s ease;
    overflow: hidden;
    &_image{
        img{
            width: 100%;
            object-fit: contain;
        }
    }
    &_details{
        &_title{
            h1{
                font-size: 16px;
                font-weight: 600;
            }
            h2{
                font-size: 12px;
                color: lightslategray;
                font-weight: 500;
            }
        }
        .mrp{
            font-size: 12px;
        }
    }
}

.product-card:hover{
    transform: scale(1.02);
}