<div class="search-section p-5">
    <div class="search-section_header d-flex align-items-center">
        <mat-icon (click)="closeNav()" aria-hidden="false" aria-label="search icon" class="me-3 cursor-pointer"
            style="color:red; font-size: 26px; font-weight: 900;">close</mat-icon>
        <span class="search-section_heading">Search</span>
    </div>

    <div class="search-section_main-container">
        <div class="mt-4">
          <input type="name" placeholder="Search" class="form-control" id="inputPassword">
        </div>
    </div>
</div>