<div class="login-section px-5">
  <div class="login-section_header d-flex align-items-center justify-content-around">
    <mat-icon
      (click)="closeNav()"
      aria-hidden="false"
      aria-label="close icon"
      class="me-3 cursor-pointer"
      style="color: red; font-size: 26px; font-weight: 900"
      >close</mat-icon>
      <img src="https://s3-us-west-2.amazonaws.com/cbi-image-service-prd/modified/c98c4e93-df3d-410f-b30c-3f49d5001a57.png" alt="logo" />
  </div>
  <div class="login">

  </div>
</div>
